BESPIN_SECRET_KEY=
BESPIN_ALLOWED_HOST=*
BESPIN_CORS_HOST=127.0.0.1
BESPIN_DB_HOST=bespin-database
BESPIN_SERVER_NAME=bespin.gcb.duke.edu

LANDO_DJANGO_USERNAME=lando
LANDO_DJANGO_PASSWORD=
LANDO_DJANGO_TOKEN=
